Repository int1m/shiki-recommendations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, web-app-build, backend-linting, web-app-linting

.gitlab-ci.yml:

stages:
  - build
  - linting
  - deploy-production

.backend:
  only:
    changes:
      - "packages/backend/**/*"

.web-app:
  only:
    changes:
      - "packages/web-app/**/*"

backend-build:
  stage: build
  extends: .backend
  image: node:18.7.0-buster
  script:
    - cd packages/backend
    - npm i @nestjs/cli
    - npm ci --cache .npm --prefer-offline
    - npm run build
  cache:
    key: npm
    paths:
      - .npm/
  artifacts:
    expire_in: 2 days
    paths:
      - node_modules/
  tags:
    - artic

web-app-build:
  stage: build
  extends: .web-app
  image: node:18.7.0-buster
  script:
    - cd packages/web-app
    - npm ci --cache .npm --prefer-offline
    - npm run build:prod
  cache:
    key: npm
    paths:
      - .npm/
  artifacts:
    expire_in: 2 days
    paths:
      - node_modules/
  tags:
    - artic

backend-linting:
  stage: linting
  extends: .backend
  needs:
    - backend-build
  script:
    - cd packages/backend
    - npm run lint
  tags:
    - artic

web-app-linting:
  stage: linting
  extends:
    - .web-app
    - web-app-build
  needs:
    - web-app-build
  script:
    - cd packages/web-app
    - npm run lint
  tags:
    - artic

backend-deploy-production:
  stage: deploy-production
  extends: .backend
  image:
    name: docker/compose:latest
  script:
    - cd packages/backend
    - docker-compose -f docker-compose.production.yml up --build -d
  only:
    - main
  tags:
    - artic

web-app-deploy-production:
  stage: deploy-production
  extends: .web-app
  image:
    name: docker/compose:latest
  script:
    - cd packages/web-app
    - docker-compose -f docker-compose.production.yml up --build -d
  only:
    - main
  tags:
    - artic

chore(ci/cd): testing web-app linting
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

chore(ci/cd): testing web-app linting round 2
  .gitlab-ci.yml
Due: none

chore(ci/cd): testing web-app linting round 2
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

chore(ci/cd): testing node_modules artifacts round 3
  .gitlab-ci.yml
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

chore(ci/cd): testing node_modules artifacts round 4
  .gitlab-ci.yml
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

chore(ci/cd): backend development and production CD #issueID shiki-70
  packages/backend/configs/.env.production
  packages/backend/docker-compose.development.yml
  packages/backend/docker-compose.production.yml
  packages/backend/src/animes/animes.service.ts
Due: backend-build, backend-linting

chore(backend): fix eslint #issueID shiki-70
  packages/backend/.eslintrc.js
  packages/backend/package.json
  packages/backend/tests/app.e2e-spec.ts
  packages/backend/tests/jest-e2e.json
Due: backend-build, backend-linting

chore(ci/cd): change frontend container name
  packages/web-app/docker-compose.production.yml
Due: web-app-build, web-app-linting

feat(backend): add get ongoing and popular animes method #issueID shiki-73, shiki-74
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/animes.service.ts
  packages/backend/src/animes/dto/get-animes.dto.ts
Due: backend-build, backend-linting

feat(backend): add find animes by query method #issueID shiki-75
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/dto/find-animes.dto.ts
  packages/backend/src/animes/schemas/animes.schema.ts
Due: backend-build, backend-linting

feat(backend): add versioning REST API #issueID shiki-77
  packages/backend/src/main.ts
Due: backend-build, backend-linting

feat(backend): implement OpenAPI #issueID shiki-78
  packages/backend/package-lock.json
  packages/backend/package.json
  packages/backend/src/main.ts
Due: backend-build, backend-linting

feat(frontend): add roboto fonts #IssueID shiki-72
  packages/web-app/src/assets/fonts/Roboto/KFOlCnqEu92Fr1MmEU9fABc4AMP6lbBP.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOlCnqEu92Fr1MmEU9fBBc4AMP6lQ.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOlCnqEu92Fr1MmEU9fBxc4AMP6lbBP.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOlCnqEu92Fr1MmEU9fCBc4AMP6lbBP.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOlCnqEu92Fr1MmEU9fCRc4AMP6lbBP.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOlCnqEu92Fr1MmEU9fChc4AMP6lbBP.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOlCnqEu92Fr1MmEU9fCxc4AMP6lbBP.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOmCnqEu92Fr1Mu4WxKKTU1Kvnz.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOmCnqEu92Fr1Mu4mxKKTU1Kg.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOmCnqEu92Fr1Mu5mxKKTU1Kvnz.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOmCnqEu92Fr1Mu72xKKTU1Kvnz.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOmCnqEu92Fr1Mu7GxKKTU1Kvnz.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOmCnqEu92Fr1Mu7WxKKTU1Kvnz.woff2
  packages/web-app/src/assets/fonts/Roboto/KFOmCnqEu92Fr1Mu7mxKKTU1Kvnz.woff2
  packages/web-app/src/assets/fonts/Roboto/roboto.css
  packages/web-app/src/styles/index.scss
Due: web-app-build, web-app-linting

feat(frontend): implement navbar #IssueID shiki-79
  packages/web-app/public/color-schemes.json
  packages/web-app/src/App.vue
  packages/web-app/src/AppProvider.vue
  packages/web-app/src/assets/icons/compass.svg
  packages/web-app/src/assets/icons/logo-light.svg
  packages/web-app/src/assets/icons/search.svg
  packages/web-app/src/assets/icons/sun.svg
  packages/web-app/src/components/common/NavBar.vue
  packages/web-app/src/components/common/navbar/NavBarItem.vue
  packages/web-app/src/hooks/useChangeColorSchema.ts
  packages/web-app/src/layouts/MainLayout.vue
  packages/web-app/src/main.ts
  packages/web-app/src/routes/index.ts
  packages/web-app/src/stores/initialStore.ts
  packages/web-app/src/styles/_variables.scss
  packages/web-app/src/views/Recommendation.vue
Due: web-app-build, web-app-linting

feat(frontend): search-view round 1 #IssueID shiki-79
  packages/web-app/src/App.vue
  packages/web-app/src/AppProvider.vue
  packages/web-app/src/components/anime-search/AnimeSearchHeader.vue
  packages/web-app/src/components/common/AnimeCard.vue
  packages/web-app/src/components/common/NavBar.vue
  packages/web-app/src/components/kit/VIconImport/icons/star.svg
  packages/web-app/src/layouts/MainLayout.vue
  packages/web-app/src/styles/_variables.scss
  packages/web-app/src/styles/index.scss
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

fix(frontend): nav-bar types #IssueID shiki-79
  packages/web-app/src/components/common/NavBar.vue
Due: web-app-build, web-app-linting

chore(backend): test cd round 1
  packages/backend/package.json
  packages/backend/src/main.ts
Due: backend-build, backend-linting

feat(backend): parsing persons and characters #IssueID shiki-83
  packages/backend/src/animes/@types/animes.types.ts
  packages/backend/src/animes/@types/api-shiki.types.ts
  packages/backend/src/animes/animes.service.ts
  packages/backend/src/animes/schemas/animes.schema.ts
Due: backend-build, backend-linting

feat(web-app): implement horizontal-scroll-container #IssueID shiki-79
  packages/web-app/package.json
  packages/web-app/src/components/common/HorizontalScrollContainer.vue
  packages/web-app/src/layouts/MainLayout.vue
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

feat(web-app): horizontal-scroll-container drag children, nav-buttons implement #IssueID shiki-79
  packages/web-app/src/components/common/AnimeCard.vue
  packages/web-app/src/components/common/HorizontalScrollContainer.vue
  packages/web-app/src/components/kit/VIconImport/icons/chevron.svg
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

feat(web-app): nav-buttons round 1 #IssueID shiki-79
  packages/web-app/src/components/common/HorizontalScrollContainer.vue
Due: web-app-build, web-app-linting

feat(backend): users and rates parsing 1 #IssueId shiki-84
  .gitignore
  packages/backend/src/@types/index.ts
  packages/backend/src/animes/@types/animes.types.ts
  packages/backend/src/animes/@types/api-shiki.types.ts
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/animes.service.ts
  packages/backend/src/animes/schemas/animes.schema.ts
  packages/backend/src/app.module.ts
  packages/backend/src/users/@types/api-shiki.types.ts
  packages/backend/src/users/@types/users.types.ts
  packages/backend/src/users/dto/create-user.dto.ts
  packages/backend/src/users/dto/update-user.dto.ts
  packages/backend/src/users/entities/user.entity.ts
  packages/backend/src/users/schemas/users.schema.ts
  packages/backend/src/users/users.controller.spec.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/users/users.module.ts
  packages/backend/src/users/users.service.spec.ts
  packages/backend/src/users/users.service.ts
Due: backend-build, backend-linting

feat(backend): add virtual foreignField #IssueId shiki-84
  packages/backend/src/users/schemas/users.schema.ts
  packages/backend/src/users/users.controller.ts
  packages/backend/src/users/users.service.ts
Due: backend-build, backend-linting

feat(backend): refetch timeout update #IssueId shiki-84
  packages/backend/src/users/users.service.ts
Due: backend-build, backend-linting

feat(backend): 403 error catch #IssueId shiki-84
  packages/backend/src/users/users.service.ts
Due: backend-build, backend-linting

feat(backend): update currentPage #IssueId shiki-84
  packages/backend/src/users/users.controller.ts
Due: backend-build, backend-linting

feat(backend): database open #IssueId shiki-84
  packages/backend/docker-compose.production.yml
Due: backend-build, backend-linting

feat(backend): update page start #IssueId shiki-84
  packages/backend/src/users/users.controller.ts
Due: backend-build, backend-linting

feat(backend): test hide db #IssueId shiki-84
  packages/backend/docker-compose.production.yml
Due: backend-build, backend-linting

feat(backend): enable CORS
  packages/backend/src/main.ts
  packages/backend/src/users/users.controller.ts
Due: backend-build, backend-linting

feat(backend): enable animes parsing
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/animes.service.ts
  packages/backend/src/users/users.controller.ts
Due: backend-build, backend-linting

feat(web-app): animes ongoing, popular services #IssueID shiki-85, shiki-86
  packages/web-app/configs/.env.production
  packages/web-app/src/components/anime-search/AnimeSearchHeader.vue
  packages/web-app/src/components/common/AnimeCard.vue
  packages/web-app/src/components/common/HorizontalScrollContainer.vue
  packages/web-app/src/config.ts
  packages/web-app/src/main.ts
  packages/web-app/src/services/@types/animes.ts
  packages/web-app/src/services/@types/common.ts
  packages/web-app/src/services/animes.ts
  packages/web-app/src/views/AnimeSearch.vue
  packages/web-app/src/views/Recommendation.vue
Due: web-app-build, web-app-linting

feat(web-app): useDebounce
  packages/web-app/src/components/common/AnimeCard.vue
  packages/web-app/src/hooks/useDebounce.ts
  packages/web-app/src/services/@types/animes.ts
  packages/web-app/src/utils/filters.ts
  packages/web-app/src/utils/resolveUnref.ts
  packages/web-app/src/utils/types.ts
Due: web-app-build, web-app-linting

feat(backend): findAnime fix params
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/users/users.controller.ts
  packages/web-app/src/services/animes.ts
Due: backend-build, web-app-build, backend-linting, web-app-linting

feat(backend): findAnime fix params round 2
  packages/backend/src/animes/dto/find-animes.dto.ts
Due: backend-build, backend-linting

feat(web-app): implement animes search #IssueID shiki-87
  packages/web-app/package.json
  packages/web-app/src/components/anime-search/AnimeSearchHeader.vue
  packages/web-app/src/services/animes.ts
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

fix(web-app): anime-card height
  packages/web-app/src/components/anime-search/AnimeSearchHeader.vue
  packages/web-app/src/components/common/AnimeCard.vue
Due: web-app-build, web-app-linting

fix(web-app): nav-bar fixed on mobile #IssueID shiki-88
  packages/web-app/src/components/common/NavBar.vue
  packages/web-app/src/layouts/MainLayout.vue
Due: web-app-build, web-app-linting

fix(web-app): desktop margin 0 #IssueID shiki-88
  packages/web-app/src/layouts/MainLayout.vue
Due: web-app-build, web-app-linting
