Repository int1m/shiki-recommendations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, web-app-build, backend-linting, web-app-linting

backend-build:
  stage: build
  image: node:18.7.0-buster
  script:
  - cd packages/backend
  - npm i @nestjs/cli
  - npm ci --cache .npm --prefer-offline
  - npm run build
  cache:
    key: npm
    paths:
    - .npm/
  artifacts:
    expire_in: 2 days
    paths:
    - node_modules/
  tags:
  - artic

web-app-build:
  stage: build
  image: node:18.7.0-buster
  script:
  - cd packages/web-app
  - npm ci --cache .npm --prefer-offline
  - npm run build:prod
  cache:
    key: npm
    paths:
    - .npm/
  artifacts:
    expire_in: 2 days
    paths:
    - node_modules/
  tags:
  - artic

backend-linting:
  stage: linting
  needs:
  - backend-build
  script:
  - cd packages/backend
  - npm run lint
  tags:
  - artic

web-app-linting:
  stage: linting
  image: node:18.7.0-buster
  script:
  - cd packages/web-app
  - npm run lint
  cache:
    key: npm
    paths:
    - .npm/
  artifacts:
    expire_in: 2 days
    paths:
    - node_modules/
  tags:
  - artic
  needs:
  - web-app-build

fix: docker compose
  .gitlab-ci.yml
Due: none

Update packages/backend/docker-compose.production.yml, packages/web-app/docker-compose.production.yml
  packages/backend/docker-compose.production.yml
  packages/web-app/docker-compose.production.yml
Due: backend-build, web-app-build, backend-linting, web-app-linting

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

fix: composer version
  packages/backend/docker-compose.production.yml
  packages/web-app/docker-compose.production.yml
Due: backend-build, web-app-build, backend-linting, web-app-linting

fix: docker compose
  packages/backend/docker-compose.production.yml
Due: backend-build, backend-linting

fix: ci
  .gitlab-ci.yml
Due: none

feat: animes parsing enable
  packages/backend/src/animes/animes.controller.ts
Due: backend-build, backend-linting

feat: add dev/prod shikimori parameters in env configs
  packages/backend/package-lock.json
  packages/web-app/configs/.env.integration
  packages/web-app/configs/.env.production
  packages/web-app/configs/.env.staging
  packages/web-app/package.json
  packages/web-app/src/config.ts
  packages/web-app/src/env.d.ts
  packages/web-app/src/services/shikimoriIntegration.ts
  packages/web-app/src/services/shikimoriIntegrationRefreshToken.ts
  packages/web-app/src/views/Recommendation.vue
Due: backend-build, web-app-build, backend-linting, web-app-linting

fix: ci
  packages/backend/docker-compose.production.yml
Due: backend-build, backend-linting

feat: implementation integration with shikimori
  packages/web-app/package-lock.json
  packages/web-app/package.json
  packages/web-app/src/AppProvider.vue
  packages/web-app/src/hooks/useFetch.ts
  packages/web-app/src/hooks/useGetUserInfo.ts
  packages/web-app/src/main.ts
  packages/web-app/src/routes/index.ts
  packages/web-app/src/services/@types/animes.ts
  packages/web-app/src/services/@types/common.ts
  packages/web-app/src/services/@types/shikimoriIntegration.ts
  packages/web-app/src/services/shikimoriIntegration.ts
  packages/web-app/src/services/shikimoriIntegrationRefreshToken.ts
  packages/web-app/src/stores/userStore.ts
  packages/web-app/src/views/Recommendation.vue
Due: web-app-build, web-app-linting

fix: isLearned check syntax
  packages/machine-learning/src/RecommenderSystem/neuronet.py
Due: none

fix: dev docker volume
  packages/backend/docker-compose.development.yml
  packages/machine-learning/src/RecommenderSystem/neuronet.py
  packages/machine-learning/src/app.py
Due: backend-build, backend-linting

feat: docker-compose open db
  packages/backend/docker-compose.production.yml
  packages/backend/src/animes/animes.controller.ts
  packages/machine-learning/.gitignore
  packages/machine-learning/src/RecommenderSystem/neuronet.py
  packages/machine-learning/src/app.py
Due: backend-build, backend-linting

fix: footer
  packages/web-app/src/components/common/Footer.vue
  packages/web-app/src/layouts/MainLayout.vue
  packages/web-app/src/styles/index.scss
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

feat: add footer component
  packages/web-app/src/components/common/Footer.vue
Due: web-app-build, web-app-linting

feat: footer logo change color when color schema changed
  packages/web-app/src/components/common/Footer.vue
  packages/web-app/src/components/kit/VIconImport/icons/logo.svg
Due: web-app-build, web-app-linting

feat: edited content based recommender
  packages/machine-learning/src/RecommenderSystem/main.py
Due: none

feat: edited gitignore
  packages/machine-learning/.gitignore
Due: none

feat: complete neuronet as fastapi microservice #IssueID shiki-98
  packages/backend/configs/.env.development
  packages/backend/configs/.env.production
  packages/backend/configs/.env.sample
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/animes.service.ts
  packages/backend/src/animes/dto/get-recommendation.dto.ts
  packages/machine-learning/src/RecommenderSystem/neuronet.py
  packages/machine-learning/src/app.py
  packages/web-app/src/services/@types/animes.ts
  packages/web-app/src/services/animes.ts
  packages/web-app/src/services/shikimoriIntegration.ts
  packages/web-app/src/views/Recommendation.vue
Due: backend-build, web-app-build, backend-linting, web-app-linting

fix: navbar ling underline
  packages/web-app/src/components/common/NavBar.vue
Due: web-app-build, web-app-linting

feat: personal-recommendation view
  packages/web-app/src/components/kit/VDotLoading.vue
  packages/web-app/src/components/kit/VIconImport/icons/illustration.svg
  packages/web-app/src/components/kit/VIconImport/icons/shikireki-logo.svg
  packages/web-app/src/layouts/MainLayout.vue
  packages/web-app/src/routes/index.ts
  packages/web-app/src/styles/index.scss
  packages/web-app/src/views/Main.vue
  packages/web-app/src/views/Recommendation.vue
Due: web-app-build, web-app-linting

feat: ci neuronet deploy
  .gitlab-ci.yml
  packages/machine-learning/docker-compose.production.yml
  packages/machine-learning/src/RecommenderSystem/main.py
  packages/machine-learning/src/RecommenderSystem/neuronet.py
  packages/machine-learning/src/configs/config.py
Due: none

fix: getAnimesRecommendation type
  packages/web-app/src/services/animes.ts
Due: web-app-build, web-app-linting

fix: neuronet dockerfile
  packages/machine-learning/Dockerfile
Due: none

fix(backend): neuronet url
  packages/backend/configs/.env.production
  packages/backend/src/animes/animes.service.ts
Due: backend-build, backend-linting

feat(backend): test neuronet response
  packages/backend/src/animes/animes.service.ts
Due: backend-build, backend-linting

feat: added fun requesting an anime obj from db
  packages/backend/src/animes/@types/animes.types.ts
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/animes.service.ts
Due: backend-build, backend-linting

fix(backend): ci lint
  .gitlab-ci.yml
  packages/backend/package.json
Due: backend-build, backend-linting

fix(get-anime-by-id): fixed code style and await returns
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/animes.service.ts
Due: backend-build, backend-linting

fix(backend): getAnimeById service await
  packages/backend/src/animes/animes.controller.ts
Due: backend-build, backend-linting

feat: add AnimePage component
  packages/web-app/src/components/common/AnimePage.vue
  packages/web-app/src/components/kit/VIconImport/icons/bleach.svg
  packages/web-app/src/views/Main.vue
Due: web-app-build, web-app-linting

feat: update AnimePage component
  packages/web-app/src/components/common/AnimePage.vue
  packages/web-app/src/components/kit/VIconImport/icons/plus.svg
  packages/web-app/src/components/kit/VIconImport/icons/vector.svg
Due: web-app-build, web-app-linting

feat: update AnimePage component
  packages/web-app/src/components/common/AnimePage.vue
Due: web-app-build, web-app-linting

Path conditions:
  backend-build: any of: packages/backend/**/*
  web-app-build: any of: packages/web-app/**/*
  backend-linting: any of: packages/backend/**/*
  web-app-linting: any of: packages/web-app/**/*
