Repository int1m/shiki-recommendations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, web-app-build, backend-linting, web-app-linting

.gitlab-ci.yml:

stages:
  - build
  - linting
  - deploy-production

.backend:
  only:
    changes:
      - "packages/backend/**/*"

.web-app:
  only:
    changes:
      - "packages/web-app/**/*"

backend-build:
  stage: build
  extends: .backend
  image: node:18.7.0-buster
  script:
    - cd packages/backend
    - npm i @nestjs/cli
    - npm ci --cache .npm --prefer-offline
    - npm run build
  cache:
    key: npm
    paths:
      - .npm/
  artifacts:
    expire_in: 2 days
    paths:
      - node_modules/
  tags:
    - artic

web-app-build:
  stage: build
  extends: .web-app
  image: node:18.7.0-buster
  script:
    - cd packages/web-app
    - npm ci --cache .npm --prefer-offline
    - npm run build:prod
  cache:
    key: npm
    paths:
      - .npm/
  artifacts:
    expire_in: 2 days
    paths:
      - node_modules/
  tags:
    - artic

backend-linting:
  stage: linting
  extends: .backend
  needs:
    - backend-build
  script:
    - cd packages/backend
    - npm run lint
  tags:
    - artic

web-app-linting:
  stage: linting
  extends:
    - .web-app
    - web-app-build
  needs:
    - web-app-build
  script:
    - cd packages/web-app
    - npm run lint
  tags:
    - artic

backend-deploy-production:
  stage: deploy-production
  extends: .backend
  image:
    name: docker/compose:latest
  script:
    - cd packages/backend
    - docker-compose -f docker-compose.production.yml up --build -d
  only:
    - main
  tags:
    - artic

web-app-deploy-production:
  stage: deploy-production
  extends: .web-app
  image:
    name: docker/compose:latest
  script:
    - cd packages/web-app
    - docker-compose -f docker-compose.production.yml up --build -d
  only:
    - main
  tags:
    - artic

feat(web-app): move anime layout to anime view
  packages/web-app/src/routes/index.ts
  packages/web-app/src/views/Anime.vue
  packages/web-app/src/views/Main.vue
Due: web-app-build, web-app-linting

feat(web-app): create Action, Genres, Description, Information components
  packages/web-app/src/components/anime/Action.vue
  packages/web-app/src/components/anime/Description.vue
  packages/web-app/src/components/anime/Genres.vue
  packages/web-app/src/components/anime/Information.vue
  packages/web-app/src/components/anime/RatesStatuses.vue
  packages/web-app/src/components/kit/VIconImport/icons/bleach.svg
  packages/web-app/src/components/kit/VIconImport/icons/chevron-down.svg
  packages/web-app/src/components/kit/VIconImport/icons/plus.svg
  packages/web-app/src/components/kit/VIconImport/icons/vector.svg
  packages/web-app/src/components/kit/VMenuButton.vue
  packages/web-app/src/components/kit/VPopover.vue
  packages/web-app/src/styles/_variables.scss
  packages/web-app/src/styles/index.scss
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

feat(web-app): break the whole layout into components complete
  packages/web-app/src/components/anime/Action.vue
  packages/web-app/src/components/anime/Authors.vue
  packages/web-app/src/components/anime/MainCharacters.vue
  packages/web-app/src/components/anime/RatesStatuses.vue
  packages/web-app/src/components/anime/Rating.vue
  packages/web-app/src/components/anime/Similar.vue
  packages/web-app/src/components/anime/Studios.vue
  packages/web-app/src/components/common/HorizontalScrollContainer.vue
  packages/web-app/src/styles/index.scss
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

fix(web-app): horizontal scroll buttons
  packages/web-app/src/components/common/HorizontalScrollContainer.vue
Due: web-app-build, web-app-linting

feat(web-app): anime view scroll components padding
  packages/web-app/src/components/anime/Authors.vue
  packages/web-app/src/components/anime/MainCharacters.vue
  packages/web-app/src/components/anime/Similar.vue
Due: web-app-build, web-app-linting

feat(web-app): anime view round 2
  packages/web-app/src/components/anime/Description.vue
  packages/web-app/src/components/anime/Genres.vue
  packages/web-app/src/components/anime/Information.vue
  packages/web-app/src/components/anime/RatesStatuses.vue
  packages/web-app/src/components/anime/Rating.vue
  packages/web-app/src/components/anime/Studios.vue
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

feat(web-app): anime layout complete
  packages/web-app/src/components/anime/Action.vue
  packages/web-app/src/components/anime/Description.vue
  packages/web-app/src/components/anime/Genres.vue
  packages/web-app/src/components/anime/Information.vue
  packages/web-app/src/components/anime/RatesStatuses.vue
  packages/web-app/src/components/anime/Rating.vue
  packages/web-app/src/components/anime/Studios.vue
  packages/web-app/src/components/common/HorizontalScrollContainer.vue
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

fix(web-app): linting
  packages/web-app/src/components/anime/Description.vue
Due: web-app-build, web-app-linting

fix(backend): get anime by id
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/animes.service.ts
  packages/web-app/src/services/@types/animes.ts
  packages/web-app/src/services/animes.ts
Due: backend-build, web-app-build, backend-linting, web-app-linting

feat(web-app): implement set anime data from server
  packages/web-app/.eslintrc.js
  packages/web-app/src/components/anime/Authors.vue
  packages/web-app/src/components/anime/Description.vue
  packages/web-app/src/components/anime/Genres.vue
  packages/web-app/src/components/anime/Information.vue
  packages/web-app/src/components/anime/MainCharacters.vue
  packages/web-app/src/components/anime/Studios.vue
  packages/web-app/src/components/common/AnimeCard.vue
  packages/web-app/src/services/@types/animes.ts
  packages/web-app/src/views/Anime.vue
  packages/web-app/src/views/Main.vue
Due: web-app-build, web-app-linting

fix(web-app): layout grid area
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

fix(web-app): types
  packages/web-app/src/components/anime/Similar.vue
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

fix(web-app): types round 2
  packages/web-app/src/components/anime/Information.vue
Due: web-app-build, web-app-linting

fix(backend): linting
  packages/backend/src/animes/@types/animes.types.ts
Due: backend-build, backend-linting

fix(backend): animes parsing
  packages/backend/src/animes/@types/animes.types.ts
  packages/backend/src/animes/@types/api-shiki.types.ts
  packages/backend/src/animes/animes.service.ts
  packages/machine-learning/src/RecommenderSystem/ContentBasedRecommender.py
Due: backend-build, backend-linting

fix(backend): animes parsing enable
  packages/backend/src/animes/animes.controller.ts
Due: backend-build, backend-linting

feat(backend): animes parsing only on prod env
  packages/backend/src/animes/animes.controller.ts
  packages/web-app/src/services/@types/animes.ts
Due: backend-build, web-app-build, backend-linting, web-app-linting

feat(web-app): authors role and genres on russian
  packages/web-app/src/components/anime/Authors.vue
  packages/web-app/src/components/anime/Genres.vue
Due: web-app-build, web-app-linting

feat(web-app): rating complete
  packages/web-app/src/components/anime/Rating.vue
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

fix(web-app): rating stars calculating
  packages/web-app/src/components/anime/Rating.vue
Due: web-app-build, web-app-linting

fix(web-app): rating stars calculating round 2
  packages/web-app/src/components/anime/Rating.vue
Due: web-app-build, web-app-linting

feat(web-app): rates statuses complete
  packages/web-app/src/components/anime/RatesStatuses.vue
  packages/web-app/src/components/kit/VPopover.vue
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

fix(backend): parsing animes on dev env disable
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/users/users.controller.ts
Due: backend-build, backend-linting

feat(ml): get similar-animes microservice
  packages/machine-learning/requirements.txt
  packages/machine-learning/src/RecommenderSystem/contentbaserecommender.py
  packages/machine-learning/src/app.py
Due: none

feat(backend): similar animes complete
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/animes.service.ts
  packages/machine-learning/src/app.py
  packages/web-app/src/components/anime/Similar.vue
  packages/web-app/src/services/animes.ts
  packages/web-app/src/views/Anime.vue
Due: backend-build, web-app-build, backend-linting, web-app-linting

feat(wep-app): img lazy loading
  packages/web-app/public/shikireki.svg
  packages/web-app/public/vite.svg
  packages/web-app/src/assets/vue.svg
  packages/web-app/src/components/anime-search/AnimeSearchHeader.vue
  packages/web-app/src/components/anime/Authors.vue
  packages/web-app/src/components/anime/MainCharacters.vue
  packages/web-app/src/components/anime/Similar.vue
  packages/web-app/src/components/anime/Studios.vue
  packages/web-app/src/components/common/AnimeCard.vue
  packages/web-app/src/index.html
  packages/web-app/src/layouts/MainLayout.vue
  packages/web-app/src/views/Anime.vue
  packages/web-app/src/views/Recommendation.vue
Due: web-app-build, web-app-linting

feat(wep-app): disable select on nav bar item
  packages/web-app/src/components/common/navbar/NavBarItem.vue
Due: web-app-build, web-app-linting

feat(wep-app): exit complete
  packages/web-app/src/components/anime-search/AnimeSearchHeader.vue
  packages/web-app/src/components/anime/Action.vue
  packages/web-app/src/stores/userStore.ts
Due: web-app-build, web-app-linting

feat(wep-app): change color scheme on mobile
  packages/web-app/src/components/common/Footer.vue
Due: web-app-build, web-app-linting

test(anime.controller): add unit tests for anime controller functions
  packages/backend/src/animes/animes.controller.spec.ts
Due: backend-build, backend-linting

feat(wep-app): recommendation caching
  packages/web-app/src/components/anime-search/AnimeSearchHeader.vue
  packages/web-app/src/stores/recommendationStore.ts
  packages/web-app/src/views/Anime.vue
  packages/web-app/src/views/Main.vue
  packages/web-app/src/views/Recommendation.vue
Due: web-app-build, web-app-linting

fix(anime.types): fixed lint error
  packages/backend/src/animes/@types/animes.types.ts
Due: backend-build, backend-linting

feat(wep-app): action logic
  packages/web-app/src/components/anime/Action.vue
  packages/web-app/src/components/kit/VPopover.vue
  packages/web-app/src/hooks/useFetch.ts
  packages/web-app/src/services/@types/shikimoriIntegration.ts
  packages/web-app/src/services/shikimoriIntegration.ts
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

feat(wep-app): information complete
  packages/web-app/src/components/anime/Information.vue
  packages/web-app/src/services/@types/animes.ts
  packages/web-app/src/styles/_variables.scss
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting

feat(wep-app): fix types
  packages/backend/package.json
  packages/web-app/package.json
  packages/web-app/src/components/anime/Information.vue
Due: backend-build, web-app-build, backend-linting, web-app-linting

feat(wep-app): fix types round 2
  packages/web-app/src/components/anime/Information.vue
Due: web-app-build, web-app-linting

feat(wep-app): fix types round 3
  packages/web-app/src/views/Anime.vue
Due: web-app-build, web-app-linting
