Repository int1m/shiki-recommendations: changes, and which GitLab CI jobs are due for each by the changed paths.
All: backend-build, web-app-build, backend-linting, web-app-linting

.gitlab-ci.yml:

stages:
  - build
  - linting
  - deploy-production

.backend:
  only:
    changes:
      - "packages/backend/**/*"

.web-app:
  only:
    changes:
      - "packages/web-app/**/*"

backend-build:
  stage: build
  extends: .backend
  image: node:18.7.0-buster
  script:
    - cd packages/backend
    - npm i @nestjs/cli
    - npm ci --cache .npm --prefer-offline
    - npm run build
  cache:
    key: npm
    paths:
      - .npm/
  artifacts:
    expire_in: 2 days
    paths:
      - node_modules/
  tags:
    - artic

web-app-build:
  stage: build
  extends: .web-app
  image: node:18.7.0-buster
  script:
    - cd packages/web-app
    - npm ci --cache .npm --prefer-offline
    - npm run build:prod
  cache:
    key: npm
    paths:
      - .npm/
  artifacts:
    expire_in: 2 days
    paths:
      - node_modules/
  tags:
    - artic

backend-linting:
  stage: linting
  extends: .backend
  needs:
    - backend-build
  script:
    - cd packages/backend
    - npm run lint
  tags:
    - artic

web-app-linting:
  stage: linting
  extends:
    - .web-app
    - web-app-build
  needs:
    - web-app-build
  script:
    - cd packages/web-app
    - npm run lint
  tags:
    - artic

backend-deploy-production:
  stage: deploy-production
  extends: .backend
  image:
    name: docker/compose:latest
  script:
    - cd packages/backend
    - docker-compose -f docker-compose.production.yml up --build -d
  only:
    - main
  tags:
    - artic

web-app-deploy-production:
  stage: deploy-production
  extends: .web-app
  image:
    name: docker/compose:latest
  script:
    - cd packages/web-app
    - docker-compose -f docker-compose.production.yml up --build -d
  only:
    - main
  tags:
    - artic

feat(web-app): undo fixed navbar
  packages/web-app/src/layouts/MainLayout.vue
Due: web-app-build, web-app-linting

fix(backend): parsing scores and statuses #IssueId shiki-97
  packages/backend/src/animes/animes.controller.ts
  packages/backend/src/animes/animes.service.ts
  packages/backend/src/animes/schemas/animes.schema.ts
  packages/backend/src/users/users.controller.ts
Due: backend-build, backend-linting

feat: create recommendation system
  packages/machine-learning/.gitignore
  packages/machine-learning/data_preprocessing.py
  packages/machine-learning/main.py
  packages/machine-learning/neuronet.py
Due: none

fix: load data, preprocessing
  packages/machine-learning/neuronet.py
Due: none

fix: add venv to gitignore
  packages/machine-learning/.gitignore
Due: none

feat(machine-learning): init requirements.txt
  packages/machine-learning/requirements.txt
  packages/machine-learning/src/app.py
  packages/machine-learning/src/recommender-system/data_preprocessing.py
  packages/machine-learning/src/recommender-system/main.py
  packages/machine-learning/src/recommender-system/neuronet.py
Due: none

feat(machine-learning): init Dockerfile
  packages/machine-learning/Dockerfile
Due: none

feat(machine-learning): personal-recommendations route
  packages/machine-learning/src/app.py
Due: none

fix(machine-learning): app title
  packages/machine-learning/src/app.py
Due: none

feat(machine-learning): init fastAPI
  packages/machine-learning/.gitignore
  packages/machine-learning/requirements.txt
  packages/machine-learning/src/RecommenderSystem/data_preprocessing.py
  packages/machine-learning/src/RecommenderSystem/main.py
  packages/machine-learning/src/RecommenderSystem/neuronet.py
  packages/machine-learning/src/app.py
Due: none

feat(machine-learning): del data_preprocessing.py
  packages/machine-learning/src/RecommenderSystem/data_preprocessing.py
Due: none

fix(machine-learning): data upload
  packages/machine-learning/src/RecommenderSystem/main.py
  packages/machine-learning/src/RecommenderSystem/neuronet.py
  packages/machine-learning/src/app.py
Due: none

fix(web-app): color-schemes
  packages/backend/src/animes/animes.controller.ts
  packages/web-app/public/color-schemes.json
  packages/web-app/src/AppProvider.vue
  packages/web-app/src/components/anime-search/AnimeSearchHeader.vue
  packages/web-app/src/components/common/AnimeCard.vue
  packages/web-app/src/components/common/HorizontalScrollContainer.vue
  packages/web-app/src/components/common/NavBar.vue
  packages/web-app/src/styles/_variables.scss
  packages/web-app/src/views/AnimeSearch.vue
Due: backend-build, web-app-build, backend-linting, web-app-linting

feat: added neuronet learning complete checking
  packages/machine-learning/neuronet.py
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Update packages/backend/docker-compose.production.yml, packages/web-app/docker-compose.production.yml
  packages/backend/docker-compose.production.yml
  packages/web-app/docker-compose.production.yml
Due: backend-build, web-app-build, backend-linting, web-app-linting

fix: composer version
  packages/backend/docker-compose.production.yml
  packages/web-app/docker-compose.production.yml
Due: backend-build, web-app-build, backend-linting, web-app-linting

fix: ci
  .gitlab-ci.yml
Due: none

fix: docker compose
  packages/backend/docker-compose.production.yml
Due: backend-build, backend-linting

fix: docker compose
  .gitlab-ci.yml
Due: none

fix: ci
  packages/backend/docker-compose.production.yml
Due: backend-build, backend-linting

feat: animes parsing enable
  packages/backend/src/animes/animes.controller.ts
Due: backend-build, backend-linting

feat: implementation integration with shikimori
  packages/web-app/package-lock.json
  packages/web-app/package.json
  packages/web-app/src/AppProvider.vue
  packages/web-app/src/hooks/useFetch.ts
  packages/web-app/src/hooks/useGetUserInfo.ts
  packages/web-app/src/main.ts
  packages/web-app/src/routes/index.ts
  packages/web-app/src/services/@types/animes.ts
  packages/web-app/src/services/@types/common.ts
  packages/web-app/src/services/@types/shikimoriIntegration.ts
  packages/web-app/src/services/shikimoriIntegration.ts
  packages/web-app/src/services/shikimoriIntegrationRefreshToken.ts
  packages/web-app/src/stores/userStore.ts
  packages/web-app/src/views/Recommendation.vue
Due: web-app-build, web-app-linting

feat: add footer component
  packages/web-app/src/components/common/Footer.vue
Due: web-app-build, web-app-linting

fix: footer
  packages/web-app/src/components/common/Footer.vue
  packages/web-app/src/layouts/MainLayout.vue
  packages/web-app/src/styles/index.scss
  packages/web-app/src/views/AnimeSearch.vue
Due: web-app-build, web-app-linting

feat: footer logo change color when color schema changed
  packages/web-app/src/components/common/Footer.vue
  packages/web-app/src/components/kit/VIconImport/icons/logo.svg
Due: web-app-build, web-app-linting

feat: added neuronet learning complete checking
  packages/machine-learning/src/RecommenderSystem/neuronet.py
Due: none

fix: fixed file paths
  packages/machine-learning/src/RecommenderSystem/neuronet.py
Due: none

feat: add dev/prod shikimori parameters in env configs
  packages/backend/package-lock.json
  packages/web-app/configs/.env.integration
  packages/web-app/configs/.env.production
  packages/web-app/configs/.env.staging
  packages/web-app/package.json
  packages/web-app/src/config.ts
  packages/web-app/src/env.d.ts
  packages/web-app/src/services/shikimoriIntegration.ts
  packages/web-app/src/services/shikimoriIntegrationRefreshToken.ts
  packages/web-app/src/views/Recommendation.vue
Due: backend-build, web-app-build, backend-linting, web-app-linting

fix: isLearned check syntax
  packages/machine-learning/src/RecommenderSystem/neuronet.py
Due: none

fix: dev docker volume
  packages/backend/docker-compose.development.yml
  packages/machine-learning/src/RecommenderSystem/neuronet.py
  packages/machine-learning/src/app.py
Due: backend-build, backend-linting

feat: docker-compose open db
  packages/backend/docker-compose.production.yml
  packages/backend/src/animes/animes.controller.ts
  packages/machine-learning/.gitignore
  packages/machine-learning/src/RecommenderSystem/neuronet.py
  packages/machine-learning/src/app.py
Due: backend-build, backend-linting
